h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}

.om-divider {
  @apply border-b-2 border-gray-200 mb-4;
}

#oico-root-user-register {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.steps-container {
  .steps {
    list-style-type: none;
    padding: 0;
    margin: 0;

    background-color: #25a3dc;
    padding: 35px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;

    li {
      color: #fff;
      text-align: center;
    }

    & > li:nth-child(odd) {
      flex: 1;
      font-size: 22px;
      &.active {
        font-weight: 700;
      }
    }

    & > li:nth-child(even) {
      transform: scale(3);
    }
  }
}

.divider {
  @apply h-[1px] bg-gray-900 w-full;
}

.terms-of-agreement {
  .content {
    @apply rounded-[16px] border-[1px] border-[#C4C4C4] w-full p-4 bg-gray-850 h-[220px] overflow-x-hidden overflow-y-scroll;

    h3 {
      @apply text-lg font-bold;
    }
    p {
      @apply text-base mb-5;
    }
  }
}

.om-form-row {
  @apply mb-5;
  gap: 20px;

  .field {
    @apply gap-6;

    input,
    textarea,
    select {
      @apply text-base;
      @apply border border-gray-300 rounded-md py-2 px-4 block placeholder-gray-500 text-black leading-tight;
      border-radius: 4px;
    }
    input {
      line-height: 34px; // 이렇게 했을때 높이가 52px이 된다.
    }
    select {
      height: 52px;

      // 첫번째 option의 text-color를 text-gray-900으로 한다
    }

    .left {
      width: 120px; // 신청기업/기관 이 제일 긴 텍스트이고, 이것이 88입니다
      // padding-right: 20px;
      align-self: flex-start; // 세로 길이가 길어져도 위쪽 정렬이 되도록
      line-height: 52px;

      label {
        // font-weight: 700;
      }
    }
    .right {
      .external-value {
        @apply text-gray-900;
      }
    }
  }
}

.bg-gradient-primary {
  @apply bg-gradient-to-r from-[#189FDB] to-[#65CADC];
}

.error-message {
  @apply text-red-500 text-sm;
}
