@use "sass:math";

$om-checkbox-checked-color: rgb(51, 122, 183);
$om-checkbox-border-color: rgba(0, 0, 0, 0.54);
$om-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$om-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$om-checkbox-margin: 1em 0;
$om-checkbox-size: 1.25em;
$om-checkbox-padding: .25em;
$om-checkbox-border-width: 2px;
$om-checkbox-border-radius: 0.125em;
$om-checkmark-width: 0.125em;
$om-checkmark-color: #fff;
$om-checkbox-label-padding: .75em;

.om-checkbox {
  position: relative;
  // margin: $om-checkbox-margin;
  text-align: left;
  display: flex;

  &.om-checkbox-inline {
    display: inline-block;
  }
  
  label {
    cursor: pointer;
    display: inline;
    line-height: $om-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    white-space: nowrap;

    &:not(:empty) {
      padding-left: $om-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    
    &:before {
      // box
      width: $om-checkbox-size;
      height: $om-checkbox-size;
      background: #fff;
      border: $om-checkbox-border-width solid $om-checkbox-border-color;
      border-radius: $om-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    outline: 0;
    visibility: hidden;
    width: $om-checkbox-size;
    margin: 0;
    display: block;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $om-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $om-checkmark-size: $om-checkbox-size - 2 * $om-checkbox-padding;

        transform: translate($om-checkbox-padding, math.div($om-checkbox-size, 2) - math.div($om-checkmark-size, 2.6)) rotate(-45deg);
        width: $om-checkmark-size;
        height: math.div($om-checkmark-size, 2);
        
        border: $om-checkmark-width solid $om-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:disabled {
      + label:before{
        border-color: $om-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before {
          background: $om-checkbox-checked-color-disabled;
        }
      }
    }
  }
 
}